
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="inventory/main.css">
    <title>{% block title %}SupplySmart{% endblock %}</title>
    {% block head %}
    <h1 class="title">Welcome to the Restaurants Inventory</h1>

    {% endblock %}
</head>

<body>
    <div class="container">
      <header>
    
       <aside class="sidebar">
         <ul>
            <li><a href="{% url 'home' %}">🏠 Home</a></li>
            <li><a href="{% url 'profile' %}">👤 Profile</a></li>
            <li><a href="{% url 'menuitem' %}">📅 Menu</a></li>
            <li><a href="{% url 'ingredientslist' %}">🛒 Inventory</a></li>
            <li><a href="{% url 'purchase-list' %}">📊 Purchases</a></li>
            <li><a href="{% url 'reciperequirement_create' %}">⚙️ Recipe Requirement</a></li>
            <li><a href="{% url 'profit_revenue' %}">📈 Profit & Revenue</a></li>
            <li><a href="{% url 'logout' %}">🔑 Log Out</a></li>
         </ul>
       </aside>
       </nav>
      </header>
      
    {% block content %}

    {% endblock %}
    </div>
</body>
</html>