{% extends 'inventory/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'inventory/main.css' %}">

{% endblock %}

{% block content %}
<main class="main-content">
    <header>
        <h1>Welcome, Chef!</h1>
        <p>Manage your recipes and menu</p>
        <input type="search" placeholder="Search">
    </header>
    <section class="content">
        <div class="card calendar">
            <h2>RecipeRanger Kitchen</h2>
            <!-- Calendar Content -->
        </div>
        <div class="card ingredient-inventory">
            <h2>Ingredient Inventory</h2>
            <!-- Ingredient Inventory Content -->
        </div>
        <div class="card menu-costs">
            <h2>Menu Costs</h2>
            <!-- Menu Costs Content -->
        </div>
        <div class="card recipe-details">
            <h2>Recipe details</h2>
            <!-- Recipe details Content -->
        </div>
        <div class="card inventory-directory">
            <h2>Inventory directory</h2>
            <!-- Inventory directory Content -->
        </div>
    </section>
</main>
{% endblock %}