
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SupplySmart</title>
    <link rel="stylesheet" href="{% static 'inventory/ingredients.css' %}">
</head>
<body>
    <div class="container">
        
        <div class="main-content">
          <nav class="sidebar">
            <div class="sidebar-icon">
              <ul>
                <a href="{% url 'home' %}">🏠 Home</a>
                <a href="{% url 'profile' %}">👤 Profile</a>
                <a href="{% url 'menuitem' %}">📅 Menu</a>
                <a href="{% url 'ingredientslist' %}">🛒 Inventory</a>
                <a href="{% url 'purchase-list' %}">📊 Purchases</a>
                <a href="{% url 'reciperequirement_create' %}">⚙️ Recipe Requirement</a>
                <a href="{% url 'profit_revenue' %}">📈 Profit & Revenue</a>
                <a href="{% url 'logout' %}">🔑 Log out</a>
               </ul>
            </div>
          </nav>
            <main>
              <h2>Inventory</h2>
              <div class="ingredient-input">
                  <button class="add-item-btn"><a href="{% url 'ingredient-create' %}">Add Ingredient</a></button>
              </div>
              <div class="recipe-requirements">
                  <div class="left-column">
                      {% for ingredient in object_list %}
                      <div class="ingredient-card">
                          <div class="ingredient-info">
                              <h3><a href="{% url 'ingredientdetail' ingredient.id %}">{{ ingredient.name | title }}</a></h3>
                              <p>Quantity: {{ ingredient.quantity }} {{ ingredient.unit }}</p>
                              <p>Price: {{ ingredient.price_per_unit }} per {{ ingredient.unit }}</p>
                          </div>
                          <div class="ingredient-actions">
                              <a href="{% url 'ingredientupdate' ingredient.id %}" class="update btn">Update</a>
                              <a href="{% url 'ingredientdelete' ingredient.id %}" class="delete btn">Delete</a>
                          </div>
                      </div>
                      {% endfor %}
                        </div>
                      </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>