{% extends 'inventory/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'inventory/main.css' %}">
{% endblock %}


{% block content %}
<div class="table-page">
  <div class="table-content">
    <table class="table">

      <tr class="table-header">
        <tr>
          <th class="header-row-1">Ingredient: {{ ingredient.name | title}}</th>
          <th class="header-row-2">Details</th>
        </tr>
      </tr>

      <tr>
        <td class="table-row-1 details ">Quantity in stock</td>
        <td class="table-row-2 details ">{{ ingredient.quantity }}</td>
      </tr>
      <tr>
        <td class="table-row-1 details ">Measurement</td>
        <td class="table-row-2 details ">{{ ingredient.unit }}</td>
      </tr>
      <tr>
        <td class="table-row-1 details ">Used in Menu items:</td>
        <td class="table-row-2 details ">
          {% if recipe_requirements_list %}
            <a href="{% url 'menuitem-create' %}" class="link">{{ recipe_requirements_list.0.menu_item.name}}:</a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td class="table-row-1 details ">Price</td>
        <td class="table-row-2 details ">{{ ingredient.price_per_unit }}</td>
      </tr>
      <tr>
        <td class="table-row-1"><a href="{% url 'ingredientupdate' ingredient.id %}" class="update details btn">Update</a></td>
      </tr>
    </table>
  </div>
  <a href="{% url 'home' %}">Back home</a>
</div>
{% endblock %}