{% extends 'inventory/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'inventory/menu.css' %}">
{% endblock %}

{% block content %}
<main>
  <h1 class="menu-title">MENU</h1>

  <div class="menu-input">
      <button class="add-item-btn">
        <a href="{% url 'menuitem-create' %}" class="add-item-btn">Add Menu Item</a>
      </button>
  </div>
      
          {% for menu in menu %}
          <div class="menu-card">
              <div class="menu-info">
                <span class="item-name"><a href="{% url 'menuitemdetail' menu.id %}">{{ menu.name | title }}</a></span>

                <p class="item-pricep">Price: ${{ menu.price }}</p>
              </div>
              <div class="menu-actions">
                <a href="{% url 'menuitem_delete' menu.id %}" class="delete-btn">Delete</a>
              </div>
          </div>
          {% endfor %}
        

    <div class="menu-footer">
      <a href="{% url 'home' %}" class="back-home-btn">Back home</a>
    </div>
</main>

{% endblock %}