
{% extends 'inventory/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'inventory/main.css' %}">
{% endblock %}

{% block content %}
<div class="table-page">
  <div class="table-content">
    <p class="create_btn"><a href="{% url 'menuitem-create' %}">Add Menu</a></p>

    <hr class="line">
    <h2>Available Menu Items</h2>
    <table class="table">
      <tr class="table-header">
        <tr class="">
          <th class="header-row-1" >Name</th>
          <th class="header-row-2">Price</th>
          <th class="header-row-3">Action</th>
        </tr>
      </tr>
<!-- add the button to add the menu in the purchase -->

      {% for menu in menu %}
        <tr>

          <td class="table-row-1"><a href="{% url 'menuitemdetail' menu.id %}">{{ menu.name | title }}</a></td>
          <td class="table-row-2">{{ menu.price }} </td>
          <td class="table-row-3">
            <a href="{% url 'menuitem_delete' menu.id %}" class="delete btn">Delete</a>
          </td>
        </tr> 
      {% endfor %}
    </table>
  </div>
  <a href="{% url 'home' %}">Back home</a>

 
</div>
{% endblock %}
