{% extends 'inventory/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'inventory/profile.css' %}"/>
{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <div class="profile-avatar">
            <img src="{% static '/inventory/images/user_156472.png' %}" alt="Profile Avatar">
        </div>
    </div>
    <form method="post" action="{% url 'profile' %}" class="profile-form">
        {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
      
    </form>
    <div class="button-group">
        <button type="reset" class="reset-btn">RESET</button>
        <button type="submit" class="register-btn">REGISTER</button>
    </div>
    <a href="{% url 'home' %}" class="back-link">Back Home</a>
</div>
{% endblock %}