{% extends 'inventory/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'inventory/main.css' %}">

  <title>{% block title %}SupplySmart{% endblock %}</title>
{% endblock %}

{% block content %}
<div class="table-page">
  {% if messages %}
    <div class="message">
      {% for message in messages %}
      <div class="message-text">{{ message }}</div>
    {% endfor %}
    </div>
  {% endif %}

  <div class="table-content">
    <hr class="line">
    <h2>Purchases History</h2>
    <table class="table">
      <tr class="table-header">
        <tr class="">
          <th class="header-row-1" >Purchase time</th>
          <th class="header-row-2">Purchased item</th>
        </tr>
      </tr>

      {% for purchase in object_list|dictsortreversed:"timestamp" %}
      <tr>
        <td class="table-row-1">{{ purchase.timestamp }}</td>
        <!--- its done the name is the same as the model -->
        <td class="table-row-2">{{ purchase.menu_item.name   }} </td>
      </tr>
      {% endfor %}

    </table>
  </div>
</div>
</div>
</div>
<a href="{% url 'purchase_create' %}">🛒 Add purchase</a>
<a href="{% url 'home' %}">🏠Back home</a>

{% endblock %}