{% extends 'inventory/base.html' %}
{% load static %}


{% block head %}
  <link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}

<h2>Purchase History</h2>
<ul>
  {% for purchase in purchases %}
    <li>{{ purchase.menu_item.name }} - Quantity: {{ purchase.quantity }} - Purchased on: {{ purchase.purchase_timestamp }}</li>
  {% empty %}
    <li>No purchases yet.</li>
  {% endfor %}
</ul>

  <div>
  <a href="{% url 'home' %}">Back home</a>
</div>
{% endblock %}