{% extends 'inventory/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}
<!-- need to display error message if not enough ingredients -->

<div class="body">
  {% if messages %}
    <div class="message">
      {% for message in messages %}
      <div class="message-text">{{ message }}</div>
    {% endfor %}
    </div>
  {% endif %}

  <div class="form">
    <div class="form-title"><h2>Buy Menu item:</h2></div>

    <div class="form_content">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br><input type="submit" class="btn_login" value="Confirm"/>
      </form>
    </div>
  </div>
</div>
{% endblock %}