{% extends 'inventory/base.html' %}
{% load static %}                     


{% block head %}
    <title>Add New Recipe</title>
    <link rel="stylesheet" href="{% static 'inventory/main.css' %}">

{% endblock %}

{% block content %}
<body>
   
    <div class="main-content">
        <h1>Add new recipe</h1>
        <form>
            <div class="recipe-type">
                <label>Recipe type</label>
                <input type="radio" name="type" value="main"> Main
                <input type="radio" name="type" value="dessert"> Dessert
                <input type="radio" name="type" value="appetiz"> Appetiz
            </div>
            <div class="body">
              {% if messages %}
                <div class="message">
                  {% for message in messages %}
                    <div class="message-text">{{ message }}</div>
                  {% endfor %}
                </div>
              {% endif %}

              <div class="form">
                <div class="form-title"><h2>Add RecipeRequirement for Menu item :</h2></div>
              
                <div class="form_content">
                  <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br><input type="submit" class="btn_login" value="Confirm"/>
                  </form>
                </div>
              </div>
            </div>

           
            <div class="buttons">
                <button type="submit">Add recipe</button>
                
            </div>
        </form>

  <a href="{% url 'home' %}">Back home</a>
    </div>
</body>
{% endblock %} 