{% extends 'inventory/base.html' %}
{% load static %}


{% block head %}
  <link rel="stylesheet" href="{% static 'inventory/main.css' %}">
{% endblock %}

{% block content %}
<div class="body">
  {% if messages %}
    <div class="message">
      {% for message in messages %}
        <div class="message-text">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="form">
    <div class="form-title"><h2>Add new Ingredient in Menu item recipe requirements :</h2></div>
    <hr class="line">
    <div class="form_content">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br><input type="submit" class="btn_login" value="Confirm"/>
      </form>
    </div>
  </div>
</div>
{% endblock %}