{% extends 'inventory/base.html' %}
{% load static %}


{% block head %}
  <link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}
<div class="table-page">
  <div class="table-content">
    <hr class="line">
    <h2>RecipeRequirements</h2>
    <table class="table">
      <tr class="table-header">
        <tr class="">
          <th class="header-row-1">name</th>
          <th class="header-row-1">Quantity</th>
        </tr>
      </tr>

      {% for requirement in reciperequirement %}
        <tr>
          <td class="table-row-1">{{ requirement.menu_item.name }} </td>
          <td class="table-row-2">{{ requirement.quantity }} </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <a href="{% url 'reciperequirement-create' %}">+</a>
  <a href="{% url 'home' %}">Back home</a>
</div>
{% endblock %}