/* profile.css */
body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.profile-header {
    background: linear-gradient(50deg, #ff4081, #a23a2f, #a23a2f, #a23a2f);
    height:150px;
    width: 200%;
    position: relative;
}

.profile-avatar {
    background-color: #e0e0e0;
    border: 4px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-form {
    padding: 100px 60px 60px;
}

.form-group {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-group input {
    width: 100%;
    padding: 0px;
    border: 5px solid #e0e0e0;
    border-radius: 50px;
    font-size: 20px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.reset-btn, .register-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-btn {
    background-color: #00bcd4;
}

.register-btn {
    background-color: #a23a2f;
}

.reset-btn:hover, .register-btn:hover {
    opacity: 0.9;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 50px;
    color: #a23a2f;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .left-panel {
        display: none;
    }
    .right-panel {
        flex: 1;
        padding: 40px 20px;
    }
    .logo {
        position: static;
        text-align: center;
        margin-bottom: 20px;
    }
    h1 {
        font-size: 2em;
        text-align: center;
    }
}