body {
    display: flex;
    font-family: Arial, sans-serif;
}


.main-content {
    flex: 1;
    padding: 20px;
    background-color: #F5F5F5;
}

.main-content h1 {
    margin-bottom: 20px;
}

.form-body {
    display: flex;
    justify-content: space-between;
}

.form-left, .form-right {
    width: 100px;
}

.form-left label, .form-right label {
    display: block;
    margin-top: 10px;
}

.form-left input, .form-right input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.buttons {
    margin-top: 20px;
    text-align: right;
}

.btn-add {
    background-color: #a23a2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu-item img {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    object-fit: cover;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .recipe-requirements {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        width: 100%;
    }
}